.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  color: black;
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem;
}
