@import "./settings/index";
@import "./elements/homepage/header";
@import "./elements/homepage/cta__button--welcome";
@import "./elements/homepage/cta__button--tile";
@import "./elements/homepage/welcome";
@import "./elements/homepage/services";
@import "./elements/homepage/footer";

@import "./elements/subpages/contact";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.wrapper {
  background: $--bg-main-;
}

// .container {
//   margin: 0 auto;
//   width: 1088px;
// }
