@import "./settings/index";
@import "./elements/base/index";
@import "./elements/homepage/header";
@import "./elements/homepage/welcome";
@import "./elements/homepage/services";
@import "./elements/homepage/footer";
@import "./elements/subpages/contact";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.wrapper {
  background: $--bg-main-;
}
