* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.wrapper {
  background: $--bg-main-;
}

.container {
  margin: 0 auto;
  width: 1088px;
}

@import "./settings/index";
@import "./elements/header";
@import "./elements/cta__button--welcome";
@import "./elements/cta__button--tile";
@import "./elements/welcome";
