.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $--bg--footer-;
  color: $--white-font-;
  margin: 0 auto;
  min-height: 350px;

  .footer__content {
    display: flex;

    p {
      font: italic 400 0.5em $main-font-3;
      font-size: 0.9em;
      text-align: left;
      max-width: 500px;
      margin: 1rem;
    }
    cite {
      align-self: flex-end;
      font-size: 0.8em;
      margin-right: 1rem;
    }
  }

  small {
    font-size: 10px;
    text-decoration: none;
    margin-top: 5rem;

    a:link {
      color: $--footer-link-;
      text-decoration: none;
    }
    a:visited {
      color: $--footer-link-;
      text-decoration: none;
    }
    a:hover {
      color: $--footer-hover-;
      text-decoration: underline;
    }
  }
}
