.btn--tile {
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 1em 2em;
  margin-bottom: 2rem;
  width: auto;
  &:hover {
    background-color: $--btn-hover-2;
  }
}

.cta__btn--tile {
  font-size: 1em;
  font: normal normal 1em $main-font-3;
  text-transform: uppercase;
  text-decoration: none;
  color: $--black-font-;
  letter-spacing: 1px;
  background-color: $--bg-btn-2;
  &::before {
    content: "więcej";
  }
}
