.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .person {
    margin: 1.5rem;
    .responsive {
      max-width: 55%;
      height: auto;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}
